h1 {
	text-align: center;
	font-size: 3em;
}
.subtitulo	{
	font-size: 1.75em;
	font-weight: bold;
	}
.monospace {
	font-size: 1.25em;
	font-family: "Courier New", Courier, monospace;
}
.azul	{
	font-size: 1.25em;
	font-family: "Courier New", Courier, monospace;
	color: rgb(0,153,204);
}
.subtipo{
	font-size: 1.50em;
	
